OPENAI_API_KEY=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
NEXT_PUBLIC_CREWAI_URL=http://localhost:8000/crewai-agent